<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="Search your Account"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="openCreateProfileModal()">
        <ion-icon slot="icon-only" name="add-circle" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

    <div class="card-container">
        <ion-card *ngFor="let profile of profiles">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name={{profile.icon}}></ion-icon>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <h2>{{profile.name}}</h2>
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>
