<ion-header no-border>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="modalType === 'createProfile'" (click)="saveCreateProfile()">
        Save
      </ion-button>

      <ion-button *ngIf="modalType === 'createCard'" (click)="saveCreateCard()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="profile-header">
<!--      <ion-avatar>-->
        <ion-img src="{{profileImage}}" alt="Profile" (click)="choosePictureSource()"></ion-img>
<!--      </ion-avatar>-->

      <ion-icon color="light" class="profile-edit-text" name="camera" (click)="choosePictureSource()"></ion-icon>
  </div>

  <ion-list>
    <ion-item *ngIf="modalType === 'createProfile'">
      <ion-label position="floating">Profile Name</ion-label>
      <ion-input [(ngModel)]="profileName"></ion-input>
    </ion-item>

    <ion-item *ngIf="modalType === 'createProfile'">
      <ion-label>Select Icon</ion-label>
      <ion-select [(ngModel)]="iconName" placeholder="Select One">
        <ion-select-option value="briefcase">briefcase</ion-select-option>
        <ion-select-option value="palette">art palette</ion-select-option>
        <ion-select-option value="person">person</ion-select-option>
        <ion-select-option value="camera">camera</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Your Name</ion-label>
      <ion-input [(ngModel)]="attributes[1].name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="attributes[2].title"></ion-input>
    </ion-item>

  </ion-list>


  <ion-list>
    <ion-item>
      <ion-icon *ngIf="attributes[3].display" (click)="displayField(attributes[3])" name="mail" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[3].display" (click)="displayField(attributes[3])" color="medium" name="mail" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[3].email" placeholder="Email" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[4].display" (click)="displayField(attributes[4])" name="call" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[4].display" (click)="displayField(attributes[4])" color="medium" name="call" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[4].phone" placeholder="Phone" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[5].display" (click)="displayField(attributes[5])" name="home" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[5].display" (click)="displayField(attributes[5])" color="medium" name="home" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[5].address" placeholder="Address" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[6].display" (click)="displayField(attributes[6])" name="link" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[6].display" (click)="displayField(attributes[6])" color="medium" name="link" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[6].website" placeholder="Website URL" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[7].display" (click)="displayField(attributes[7])" name="logo-snapchat" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[7].display" (click)="displayField(attributes[7])" color="medium" name="logo-snapchat" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[7].snapchat" placeholder="Snapchat" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[8].display" (click)="displayField(attributes[8])" name="logo-linkedin" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[8].display" (click)="displayField(attributes[8])" color="medium" name="logo-linkedin" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[8].linkedin" placeholder="LinkedIn" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="attributes[9].display" (click)="displayField(attributes[9])" name="logo-facebook" slot="start"></ion-icon>
      <ion-icon *ngIf="!attributes[9].display" (click)="displayField(attributes[9])" color="medium" name="logo-facebook" slot="start"></ion-icon>
      <ion-input [(ngModel)]="attributes[9].facebook" placeholder="Facebook" disabled="{{modalType === 'createCard'}}"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
