<ion-header no-border>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Profile Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Select Icon</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">briefcase</ion-select-option>
      <ion-select-option value="m">art palette</ion-select-option>
      <ion-select-option value="m">person</ion-select-option>
      <ion-select-option value="m">professional</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Your Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="star" slot="start"></ion-icon>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>



</ion-content>
