.page-header {
  text-align: center;

  img {
    border-radius: 50%;
    display: block;
    margin: auto;
    height: 80px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.accept-button{
  background-color: var(--ion-color-success-tint);
  border-radius: 8px;
  color: white;
}

.decline-button{
  background-color: var(--ion-color-danger-tint);
  border-radius: 8px;
  color: white;
}

.buttons{
  text-align: center;
}