<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-header">
    <img src="{{qrData.attributes.photo}}" alt="photo"/>
    <h1>{{qrData.attributes.name}}</h1>
    <h2>{{qrData.attributes.title}}</h2>
  </div>


  <ion-list padding>
    <ion-item *ngIf="qrData.attributes.email">
      <ion-label>
        {{qrData.attributes.email}}
      </ion-label>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.phone">
      <ion-label>
        {{qrData.attributes.phone}}
      </ion-label>
      <ion-icon name="call" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.address">
      <ion-label>
        {{qrData.attributes.address}}
      </ion-label>
      <ion-icon name="home" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.website">
      <ion-label>
        {{qrData.attributes.website}}
      </ion-label>
      <ion-icon name="link" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.snapchat">
      <ion-label>
        {{qrData.attributes.snapchat}}
      </ion-label>
      <ion-icon name="logo-snapchat" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.linkedin">
      <ion-label>
        {{qrData.attributes.linkedin}}
      </ion-label>
      <ion-icon name="logo-linkedIn" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="qrData.attributes.facebook">
      <ion-label>
        {{qrData.attributes.facebook}}
      </ion-label>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
    </ion-item>
    
  </ion-list>

  
  <ion-item padding>
    <ion-grid class="buttons">
      <ion-row>
        <ion-col>
          <ion-button class="accept-button" shape="round" fill="clear" (click)="acceptCard()">
            Accept
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="decline-button" shape="round" fill="clear" (click)="goToWalletPage()">
            Decline
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>
