.login-form {
  padding: 20px;

  ion-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 12px -7px var(--ion-color-dark);
    --padding-start: 20px;
    --padding-end: 10px;
  }
}
