<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openCreateProfileModal()">
      <ion-button>
        <ion-icon name="grid"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-header">
    <img src="{{cardData.attributes.photo}}" alt="photo"/>
    <h1>{{cardData.attributes.name}}</h1>
    <h2>{{cardData.attributes.title}}</h2>
  </div>


  <ion-list padding>
    <ion-item *ngIf="cardData.attributes.email">
      <ion-label>
        {{cardData.attributes.email}}
      </ion-label>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.phone">
      <ion-label>
        {{cardData.attributes.phone}}
      </ion-label>
      <ion-icon name="call" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.address">
      <ion-label>
        {{cardData.attributes.address}}
      </ion-label>
      <ion-icon name="home" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.website">
      <ion-label>
        {{cardData.attributes.website}}
      </ion-label>
      <ion-icon name="link" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.snapchat">
      <ion-label>
        {{cardData.attributes.snapchat}}
      </ion-label>
      <ion-icon name="logo-snapchat" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.linkedin">
      <ion-label>
        {{cardData.attributes.linkedin}}
      </ion-label>
      <ion-icon name="logo-linkedIn" slot="start"></ion-icon>
    </ion-item>

    <ion-item *ngIf="cardData.attributes.facebook">
      <ion-label>
        {{cardData.attributes.facebook}}
      </ion-label>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
