<ion-header no-border>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs" color="light"></ion-back-button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="searchVar" (ionChange)="searchbar()"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="openCreateProfileModal()">
        <ion-icon slot="icon-only" name="add-circle" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-container">
    <ion-card *ngFor="let card of profileCardsSearch" button padding (click)="details(card)">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img style="border-radius: 50%" src="{{card.attributes.photo}}" />
        </ion-thumbnail>

        <ion-grid>
          <ion-row>
            <ion-label>
              <h2>{{card.attributes.name}}</h2>
            </ion-label>
          </ion-row>

          <ion-row>
            <ion-col *ngIf="card.attributes.email">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.address">
              <ion-icon name="home"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.phone">
              <ion-icon name="call"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.website">
              <ion-icon name="link"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.snapchat">
              <ion-icon name="logo-snapchat"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.linkedin">
              <ion-icon name="logo-linkedIn"></ion-icon>
            </ion-col>
            <ion-col *ngIf="card.attributes.facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-card>
  </div>

</ion-content>
